<% title 'Tos los Eventos Arequipa' %>
<% description 'Agenda de los mejores eventos, conciertos, eventos, museos, fiestas y diversión de Arequipa al dia a dia.' %>
<% keywords 'Arequipa, Conciertos, Fiestas, Diversion, Salidas, Donde ir, Que Hacer, A donde ' %>

<% provide(:page_title,'Agenda de Eventos Arequipa') %>
<%

%>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner">
    <% if !@slider[0].blank? %>
    <div class="carousel-item active">

        <%= cl_image_tag(@slider[0].imagen,:class =>"first-slide", :alt => "Sample Image")%>

      <div class="container">
        <div class="carousel-caption text-left">
          <h1>  <%= @slider[0].title %></h1>
          <p>  <%= @slider[0].description %></p>
          <p>
            <a class="btn btn-lg btn-primary" href=<%=rails_admin_path%> role="button">Sign up today</a>
          </p>
        </div>
      </div>
    </div>
    <% end %>
    <div class="carousel-item">
      <% if !@slider[1].blank? %>
        <%= cl_image_tag(@slider[1].imagen,:class =>"second-slide", :alt => "Sample Image")%>
      <% end %>
      <!-- <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide"> -->
      <div class="container">
        <div class="carousel-caption">
          <h1>Todos Los Eventos en Arequipa.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a>
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <% if !@slider[2].blank? %>
        <%= cl_image_tag(@slider[2].imagen,:class =>"thrid-slide", :alt => "Sample Image")%>
      <% end %>
      <!-- <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide"> -->
      <div class="container">
        <div class="carousel-caption text-right">
          <h1>One more for good measure.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<div class="container">
  <H3>Qué hacer en Arequipa</H3>

  <div class="row align-middle">
    <a href="" class="col-sm-6 col-lg-3 image-r text-center ">

      <%= image_tag("cat_post/aqp1.png" , class: "img-fluid", size: "275x200") %>
      <div class="captionn">
        HOY
      </div>
    </a>
    <a href="" class="col-sm-6 col-lg-3 image-r text-center ">
      <!-- <img src="http://res.cloudinary.com/dehhkgwah/image/upload/c_thumb,h_200,w_275/v1511390410/aqp3_m96c2e.jpg" alt="Arequipa Eventos hoy",class= "img-fluid"> -->
      <%= image_tag("cat_post/aqp2.png" , class: "img-fluid", size: "275x200") %>
      <div class="captionn">
        ESTE FIN
      </div>
    </a>
    <a href="" class="col-sm-6 col-lg-3 image-r text-center ">
      <%= image_tag("cat_post/aqp3.png" , class: "img-fluid", size: "275x200") %>
      <div class="captionn">
        ESTA SEMANA
      </div>
    </a>
    <a href="" class="col-sm-6 col-lg-3 image-r text-center ">
      <%= image_tag("cat_post/aqp4.png" , class: "img-fluid", size: "275x200") %>
      <div class="captionn">
        ESTE MES
      </div>
    </a>

  </div>


  <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">Eventos recientes
            <small>en Arequipa</small>
          </h1>

          <!-- Blog Post -->

          <% @posts.each do |post| %>
          <div class="card mb-4">
            <%= cl_image_tag(post.imagen,:class =>"card-img-top", :alt => "Sample Image",:width=>900, :height=>300, :crop=>"scale")%>
            <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> -->
            <div class="card-body">
              <h2 class="card-title"><%= post.title %></h2>
              <p class="card-text">
                <% if !post.body.blank? %>
                <%=  truncate(post.body.html_safe, :length => 200, :omission => "" , :escape => false) %>
                <% end %>
              </p>
              <%= link_to 'Leer Mas ->', post ,class: "btn btn-outline-primary"%>

              <!-- <a href=post class="btn btn-primary">Leer Mas &rarr;</a>
              <%= link_to 'Show', post %> -->
            </div>


      <div class="d-flex flex-row card-footer aqp-postfooter justify-content-center">
        <div class="p-0"><i class="fa fa-calendar-check-o fa-2x" aria-hidden="true"></i><%= post.fecha.day%>/<%= post.fecha.month%>/<%= post.fecha.year%> </div>

      </div>


          </div>


          <% end %>

          <%= will_paginate @posts, :page_links => false ,:previous_label => '« Anterior ', :next_label => ' Siguiente »',:class=>'pagination justify-content-center mb-4' %>


        </div>

        <div class="top col-md-4 col-lg-4 col-xs-5">
            <div class=" top-button">
                <p class="black suisse_regular"><img src="/app/8a3a170f9b64a64c1641c2a88fd303d9e7399945adaf926b4f8f233bde85f8ff2aafe291682bf20ea41705423a5dc228b6d28bb9ad61230924b3aaef87197cf3b34580800b871504709197/" alt=""> Destacamos</p>
                <img class="left-right" src="/app/d073d0614147e0290ef746e57baf38e90ae4e835d6d4d0ac242d55d5443853ba20cb18ec554ef4cb237b92d32111d22fb7a2ecd4c532ef4f4ad8b1da46ef12e88e8ca622b0e51503493865/" alt="">
                <p class="black suisse_regular"> Destacamos <img src="/app/8a3a170f9b64a64c1641c2a88fd303d9e7399945adaf926b4f8f233bde85f8ff2aafe291682bf20ea41705423a5dc228b6d28bb9ad61230924b3aaef87197cf3b34580800b871504709197/" alt=""> </p>
            </div>
            <div class="destacadosTop-header two">
                <img src="/app/c642d6377f125c63c42626da25b093f4a645eda4736f8387658a3050605b823e0e33f60d02bd9f97a798c35a672cf977900ef1f1c0d14811ebbc72d6a480eab5344efa67c6b41504707798/" alt="">
                <p class=" mono">Más vistos</p>
                <img src="/app/c642d6377f125c63c42626da25b093f4a645eda4736f8387658a3050605b823e0e33f60d02bd9f97a798c35a672cf977900ef1f1c0d14811ebbc72d6a480eab5344efa67c6b41504707798/" alt="">
            </div>
            <div class="destacadosTop-title two">
                <p class="">Top</p>
            </div>
            <div class="top_list">
                        <ul>


                          <div class="d-flex flex-column aqpleftside">
                            <div class="p-2" style="display: inline-block;">Flex item 1
                              <div class="image" style="background-image: url(&quot;https://cdn.playground.do/embed/88ce1e790085064635271f6448603f70d9530501510156247/problemas-no-comer-carne-11.jpg&quot;);display: inline-block;"></div>
<div class="" style="display: inline-block;">
                              <p class="c_22443546_label">Food</p>
                              <p class="title_list">Esto es lo que te pasará si dejas de comer carne durante 3 meses</p>
</div>
                            </div>
                            <div class="p-2">Flex item 2</div>
                            <div class="p-2">Flex item 3</div>
                          </div>

                                <li data-paginator="1" class="active">
                                    <a href="/food/Esto-es-lo-que-pasa-cuando-estas-3-meses-sin-comer-carne_23302577.html">
                                        <div class="clearfix">
                                            <div class="number_list_top_odd white">
                                                <span>1</span>
                                            </div>
                                            <div class="new_list_top_odd white">

                                                    <div class="lazy_img img_top lazy_img-loaded" style="background-image: url(&quot;https://cdn.playground.do/embed/88ce1e790085064635271f6448603f70d9530501510156247/problemas-no-comer-carne-11.jpg&quot;);"></div>

                                                <span>
                                                    <p class="c_22443546_label">Food</p>
                                                    <p class="title_list">Esto es lo que te pasará si dejas de comer carne durante 3 meses</p>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="gradient_hr">
                                            <hr size="5">
                                        </div>
                                    </a>
                                </li>




                                <li data-paginator="1" class="active">
                                    <a href="/lit/retoricas-de-la-violacion-en-la-literatura_23749278.html">
                                        <div class="clearfix">
                                            <div class="number_list_top_odd white">
                                                <span>2</span>
                                            </div>
                                            <div class="new_list_top_odd white">
                                                <div>
                                                    <div class="lazy_img img_top lazy_img-loaded" style="background-image: url(&quot;https://cdn.playground.do/embed/22968a67ad863778b6710112f835ccc4807c1511338384/violacion-literatura-3.jpg&quot;);"></div>
                                                </div>
                                                <span>
                                                    <p class="c_22442850_label">Lit</p>
                                                    <p class="title_list">De la humillación a la venganza: retóricas de la violación en la literatura</p>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="gradient_hr">
                                            <hr size="5">
                                        </div>
                                    </a>
                                </li>




                                <li data-paginator="1" class="active">
                                    <a href="/lit/heidegger-nazi_23340160.html">
                                        <div class="clearfix">
                                            <div class="number_list_top_odd white">
                                                <span>3</span>
                                            </div>
                                            <div class="new_list_top_odd white">
                                                <div>
                                                    <div class="lazy_img img_top lazy_img-loaded" style="background-image: url(&quot;https://cdn.playground.do/embed/052607f5df1949f04aadd9ac7b0ef41510574862/martin-dual.jpg&quot;);"></div>
                                                </div>
                                                <span>
                                                    <p class="c_22442850_label">Lit</p>
                                                    <p class="title_list">Heidegger, ese asqueroso nazi que además fue filósofo</p>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="gradient_hr">
                                            <hr size="5">
                                        </div>
                                    </a>
                                </li>




                                <li data-paginator="1" class="active">
                                    <a href="/lit/mayo-francia-aniversario_23286149.html">
                                        <div class="clearfix">
                                            <div class="number_list_top_odd white">
                                                <span>4</span>
                                            </div>
                                            <div class="new_list_top_odd white">
                                                <div>
                                                    <div class="lazy_img img_top lazy_img-loaded" style="background-image: url(&quot;https://cdn.playground.do/embed/53131d8e87828e272232f3b196db083ea37dd811510076642/macron_cartel.jpg&quot;);"></div>
                                                </div>
                                                <span>
                                                    <p class="c_22442850_label">Lit</p>
                                                    <p class="title_list">Mayo del 68: bajo los adoquines estaba el mercado</p>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="gradient_hr">
                                            <hr size="5">
                                        </div>
                                    </a>
                                </li>




                                <li data-paginator="2" class="active">
                                    <a href="/lit/aborto-sentimientos_23135967.html">
                                        <div class="clearfix">
                                            <div class="number_list_top_odd white">
                                                <span>5</span>
                                            </div>
                                            <div class="new_list_top_odd white">
                                                <div>
                                                    <div class="lazy_img img_top lazy_img-loaded" style="background-image: url(&quot;https://cdn.playground.do/embed/b305f89f9fab7e62a4e994603b6c01509017752/aborto-espontaneo-2_facebook.jpg&quot;);"></div>
                                                </div>
                                                <span>
                                                    <p class="c_22442850_label">Lit</p>
                                                    <p class="title_list">Aborto espontáneo y aborto voluntario: dos caras de una moneda invisible</p>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="gradient_hr">
                                            <hr size="5">
                                        </div>
                                    </a>
                                </li>




                                <li data-paginator="2" class="">
                                    <a href="/lit/OT-nos-representa_23350049.html">
                                        <div class="clearfix">
                                            <div class="number_list_top_odd white">
                                                <span>6</span>
                                            </div>
                                            <div class="new_list_top_odd white">
                                                <div>
                                                    <div class="lazy_img img_top" data-src="https://cdn.playground.do/embed/c79234a60d50b9b2dbc0cf286c6bd54081510656974/operacion-triunfo.gif"></div>
                                                </div>
                                                <span>
                                                    <p class="c_22442850_label">Lit</p>
                                                    <p class="title_list">La lección de vida que pedíamos a gritos a la televisión pública</p>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="gradient_hr">
                                            <hr size="5">
                                        </div>
                                    </a>
                                </li>




                                <li data-paginator="2" class="">
                                    <a href="/lit/Ellos-la-violaron-primero-ahora-vosotros-le-quereis-cortar-la-lengua_23378041.html">
                                        <div class="clearfix">
                                            <div class="number_list_top_odd white">
                                                <span>7</span>
                                            </div>
                                            <div class="new_list_top_odd white">
                                                <div>
                                                    <div class="lazy_img img_top" data-src="https://cdn.playground.do/embed/602158d72c08d2120ecba520ce32dde67885b39d1510922462/violacion-lucrezia.jpg"></div>
                                                </div>
                                                <span>
                                                    <p class="c_22442850_label">Lit</p>
                                                    <p class="title_list">Ellos la violaron primero, ahora vosotros le queréis cortar la lengua</p>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="gradient_hr">
                                            <hr size="5">
                                        </div>
                                    </a>
                                </li>




                                <li data-paginator="2" class="">
                                    <a href="/lit/todos-queremos-ser-victimas_23136787.html">
                                        <div class="clearfix">
                                            <div class="number_list_top_odd white">
                                                <span>8</span>
                                            </div>
                                            <div class="new_list_top_odd white">
                                                <div>
                                                    <div class="lazy_img img_top" data-src="https://cdn.playground.do/embed/78b86b7a7a64d6dc4cb68ab07e0e3bac4e481509023840/victimismo_3.jpg"></div>
                                                </div>
                                                <span>
                                                    <p class="c_22442850_label">Lit</p>
                                                    <p class="title_list">¿Vivimos en una cultura victimista?</p>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="gradient_hr">
                                            <hr size="5">
                                        </div>
                                    </a>
                                </li>




                                <li data-paginator="3" class="">
                                    <a href="/food/Los-inspectores-de-la-Guia-Michelin-son-los-padres_23777126.html">
                                        <div class="clearfix">
                                            <div class="number_list_top_odd white">
                                                <span>9</span>
                                            </div>
                                            <div class="new_list_top_odd white">
                                                <div>
                                                    <div class="lazy_img img_top" data-src="https://cdn.playground.do/embed/065d2f8f065d6a12ab5e1dbadeaf00d41511455774/el-critico-camuflado.jpg"></div>
                                                </div>
                                                <span>
                                                    <p class="c_22443546_label">Food</p>
                                                    <p class="title_list">Los inspectores de la Guía Michelin son los padres</p>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="gradient_hr">
                                            <hr size="5">
                                        </div>
                                    </a>
                                </li>




                                <li data-paginator="3" class="">
                                    <a href="/lit/-contradicciones-del-activista-del-s-XXI_23358711.html">
                                        <div class="clearfix">
                                            <div class="number_list_top_odd white">
                                                <span>10</span>
                                            </div>
                                            <div class="new_list_top_odd white">
                                                <div>
                                                    <div class="lazy_img img_top" data-src="https://cdn.playground.do/embed/84256bf85c5af090783bc9ec01510744463/Luchas.jpg"></div>
                                                </div>
                                                <span>
                                                    <p class="c_22442850_label">Lit</p>
                                                    <p class="title_list">“Esto no será el cielo”: 5 contradicciones del activismo en 2017</p>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="gradient_hr">
                                            <hr size="5">
                                        </div>
                                    </a>
                                </li>

                        </ul>
                        <div class="top-list-button mono">
                            ver más
                        </div>
                    <div>
            	</div>
            	</div>
                </div>



  </div>
</div>








<!-- <div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Posts</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Description</th>
        <th>Slug</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.body %></td>
          <td><%= post.description %></td>
          <td><%= post.slug %></td>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Post', new_post_path %>
</div> -->
