<% provide(:page_title,@post.title) %>
<% title @post.title %>
<% description 'Agenda de los mejores eventos, conciertos, eventos, museos, fiestas y diversión de Arequipa al dia a dia.'+@post.description %>
<% keywords 'Arequipa, Conciertos, Fiestas, Diversion, Salidas, Donde ir, Que Hacer, A donde ' %>


<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4"><%= @post.title %></h1>

          <!-- Author -->
          <p class="lead">
            Por:
            <a href="#">Blog AQP</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <% if !@post.fecha.blank? %>
            <p>a realizarse el <%= @post.fecha.strftime("%B") %></p>
          <% end %>

          <p>Posted on January 1, 2017 at 12:00 PM</p>

          <hr>

          <!-- Preview Image -->
          <%= cl_image_tag(@post.imagen,:class =>"img-fluid rounded", :alt => @post.title,:width=>900, :height=>300, :crop=>"scale")%>

          <hr>

          <!-- Post Content -->
          <%= @post.body.html_safe %>



        </div>
  </div>
</div>

<!-- <%= @post.title %>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @post.slug %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> -->
