<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= yield(:page_title)%>  | Blogaqp</title> -->
    <%= csrf_meta_tags %>

    <meta name="copyright" content="GalTec, srl. Copyright (c) 2017"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= display_meta_tags site: 'AQP HOY' %>

    <%= favicon_link_tag("logo_32.png") %>
    <%= favicon_link_tag 'logo_32.png', rel: 'apple-touch-icon', type: 'image/png' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45964486-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-45964486-3');
    </script>


  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= yield %>

  </body>
  <%= render 'layouts/footer' %>

</html>
